header{
    padding: 10px 0;
    background: black;
   
}

header a {
     color: white;
}

ul{
    list-style: none;
}


.listing{
    margin-top: 25px;
}

.listing li{
    display: inline-block;
    width: 100%;
    margin: 5% 0;
}

.listing li button{
    border: none;
    background: transparent;
    color: #FFF;
}

section.container{
    margin-top: 15px;
}

a[href].btn-primary{
    outline:none;
    float: right;
}

a.logo{
    height:55px;
    width:350px;
    background: url("http://www.chanel.com/img/logo_chanel.svg") scroll no-repeat top left;
}


figure{
    margin: 0 auto;
    width: 33%;
    min-width: 320px;
}

figure figcaption{
    text-align: center;
    margin-top: 5px;
}

.product-add{
    margin: 20px 0 0 80px;
}

.to-list{
    margin: 100px 0 0 80px;
}
